# PR6 자료구조 - 이제희

In [1]:
!git --version

git version 2.34.1

In [4]:
!git init

Reinitialized existing Git repository in /home/j1002y/.git/

In [6]:
!git config --global  user.name "tonnynet"

In [5]:
!git config --global user.email "help@tonny.net"

In [7]:
!git status

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.cache/
	.gitconfig
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.local/
	.npm/
	.ssh/
	chap1-3.ipynb
	"pr2_\354\235\264\354\240\234\355\235\254-Copy1.ipynb"
	"pr2_\354\235\264\354\240\234\355\235\254.ipynb"
	"pr3_\341\204\213\341\205\265\341\204\214\341\205\246\341\204\222\341\205\264.ipynb"
	"pr4_\341\204\213\341\205\265\341\204\214\341\205\246\341\204\222\341\205\264.ipynb"
	"pr5_\341\204\213\341\205\265\341\204\214\341\205\246\341\204\222\341\205\264.ipynb"
	"pr6_\341\204\213\341\205\265\341\204\214\341\205\246\341\204\222\341\205\264.ipynb"
	"pr7_\341\204\213\341\205\265\341\204\214\341\205\246\341\204\222\341\205\264.ipynb"
	untitled.txt
	untitled1.ipynb

nothing added to commit but untracked files present (use "git add" to track)

In [8]:
!git remote add origin "https://github.com/tonnynet/ajou-.git"

In [9]:
!git branch -m master main

In [10]:
!git pull origin main

remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Unpacking objects: 100% (3/3), 850 bytes | 121.00 KiB/s, done.
From https://github.com/tonnynet/ajou-
 * branch            main       -> FETCH_HEAD
 * [new branch]      main       -> origin/main

In [12]:
!git add pr5_이제희.ipynb

fatal: pathspec 'pr5_이제희.ipynb' did not match any files

In [2]:
a=[1,2,3,4,5]
a.append(10)
a.append(20)
print(a)
a.pop()
print(a)
a.pop()
print(a)
a.pop()
print(a)
a.pop(0)
print(a)

[1, 2, 3, 4, 5, 10, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[2, 3, 4]

### 튜플과 세트 : 데이터를 변경할 수 없는 자료구조, 읽기 전용

In [5]:
## tuple

t=(1,2,3)
a=[1,2,3]

print(t[0],a[0])
a[0]=10
print(t[0], a[0])
t[0]=10

1 1
1 10

TypeError: 'tuple' object does not support item assignment

### 세트 : 중복을 제거하는 함수, 삭제나 변경이 가능

In [7]:
s=set([1,2,3,1,2,1,2,5])
print(s)
s.add(2)
print(s)
s.add(4)
print(s)
s.update([1,3,7,8])
print(s)
s.remove(2)
print(s)
s.discard(3)
print(s)
s.clear()
print(s)

{1, 2, 3, 5}
{1, 2, 3, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 8}
{1, 3, 4, 5, 7, 8}
{1, 4, 5, 7, 8}
set()

In [8]:
s1=set([1,2,3,4,5])
s2=set([3,4,5,6,7])
print(s1&s2)
print(s1.intersection(s2))
print(s1|s2)
print(s1.union(s2))
print(s1-s2)
print(s1.difference(s2))

{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}

### 딕셔너리 : 키와 값의 쌍으로 구성된다

In [12]:
country_code={"America":1,"Korea":82,"China":86,"Japan":81,"Germany":49}
print(country_code)
print(country_code.keys())
print(country_code.values())
print(country_code.items())

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Germany': 49}
dict_keys(['America', 'Korea', 'China', 'Japan', 'Germany'])
dict_values([1, 82, 86, 81, 49])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('Germany', 49)])

In [19]:
print(country_code["America"])
print(country_code.get("Korea"))

1
82

In [14]:
for k,v in country_code.items():
    print(k,v)

America 1
Korea 82
China 86
Japan 81
Germany 49

In [20]:
mbti_jobs = {
    "INTJ": "전략 컨설턴트, 데이터 과학자, 시스템 설계자",
    "INTP": "연구원, 프로그래머, 이론 물리학자",
    "ENTJ": "경영자, 프로젝트 매니저, 투자 분석가",
    "ENTP": "스타트업 창업가, 마케터, 발명가",
    "INFJ": "심리상담사, 작가, 사회운동가",
    "INFP": "예술가, 작사가, 인권 활동가",
    "ENFJ": "교사, HR 매니저, 커뮤니케이션 디렉터",
    "ENFP": "기획자, 광고 크리에이터, 여행 작가",
    "ISTJ": "회계사, 관리자, 공무원",
    "ISFJ": "간호사, 사회복지사, 사서",
    "ESTJ": "군인, 기업 관리자, 품질 관리자",
    "ESFJ": "교사, 이벤트 플래너, 고객 서비스 매니저",
    "ISTP": "기계 엔지니어, 파일럿, 정비사",
    "ISFP": "패션 디자이너, 사진작가, 플로리스트",
    "ESTP": "영업 전문가, 응급 구조사, 스포츠 코치",
    "ESFP": "연예인, 여행 가이드, 쇼호스트"
}

mbti = input("당신의 MBTI 유형을 입력하세요 (예: INFP): ").upper()

job = mbti_jobs.get(mbti)

if job:
    print(f"\n[{mbti}] 유형에게 어울리는 직업은 다음과 같습니다:\n👉 {job}")
else:
    print("죄송해요. 해당 MBTI 유형은 데이터에 없어요. 🥲")

당신의 MBTI 유형을 입력하세요 (예: INFP):  entp

[ENTP] 유형에게 어울리는 직업은 다음과 같습니다:
👉 스타트업 창업가, 마케터, 발명가

In [25]:
colors=['red','blue','green','purple']
result=''.join(colors)
print(result)
result2=','.join(colors)
print(result2)
result3=' '.join(colors)
print(result3)

redbluegreenpurple
red,blue,green,purple
red blue green purple

In [26]:
items='Trump administration concedes father from El Salvador was mistakenly deported and sent to mega prison'.split()
print(items)

['Trump', 'administration', 'concedes', 'father', 'from', 'El', 'Salvador', 'was', 'mistakenly', 'deported', 'and', 'sent', 'to', 'mega', 'prison']

In [29]:
ex1="a,b,c,d"
r1=ex1.split(",")
print(r1)
ex2="www.naver.com"
r2=ex2.split(".")
print(r2)
subdomain,domain,tld=r2
print(domain)

['a', 'b', 'c', 'd']
['www', 'naver', 'com']
naver

In [39]:
wages=[4000,2000,3000,5000,6000]
r_wages=[i*1.1 for i in wages]   ## 파이썬이 아주 좋아한다.
print(r_wages)
r_wages2 = [round(i * 1.1, 2) for i in wages] ## 소수점 계산의 오차로 인해 약간 긴 소수점이 나타날 수 있습니다. 이를 간단히 보기 좋게 만들고 싶다면 round() 함수를 사용할 수 있어요:
print(r_wages2)

[4400.0, 2200.0, 3300.0000000000005, 5500.0, 6600.000000000001]
[4400.0, 2200.0, 3300.0, 5500.0, 6600.0]

In [35]:
wages=[4000,2000,3000,5000,6000]
r_wages=[]
for i in wages:
    r_wages.append(i*1.1)
print(r_wages)

[4400.0, 2200.0, 3300.0000000000005, 5500.0, 6600.000000000001]